.homepage {
  width: 100%;
  min-height: 815px;
  /* background-color: #172755;
  background-image: url(../img/back1.svg), url(../img/back2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, top right; */
  background-color: #f8f9ff;
  background-image: url(../img/background-top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main-info {
  /* max-width: 550px; */
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

.main-info-section {
  min-width: 550px;
  padding: 0 15px;
}
.main-title {
  max-width: 550px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: white;
}
.main-subtitle {
  margin-top: 15px;
  max-width: 550px;
  font-size: 18px;
  line-height: 27px;
  color: #8794ba;
}
.main-info button {
  margin-top: 34px;
}
.main-img {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  /* box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2); */
  border-radius: 30px;
  min-width: 470px;
}
.main-img img {
  max-height: 555px;
}
@media screen and (max-width: 1020px) {
  .main-info {
    justify-content: center;
  }
  .main-img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  .main-info-section,
  .main-subtitle {
    min-width: 150px;
  }
  .main-img {
    min-width: 300px;
  }
}
