.navbar {
  height: 140px;
  background-color: #172755;
}
.navbar-container {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-left: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.nav-menu {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex: 1;
  margin-left: 80px;
  gap: 36px;
  margin-right: 50px;
}
.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
  /* padding: 0.5rem 1rem; */
}
.nav-item:hover {
  border-bottom: 5px solid white;
}
.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #8794ba;
  line-height: 19px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.login {
  display: flex;
  gap: 40px;
  flex: 1;
  justify-content: end;
  align-items: center;
}
.sign-in {
  color: #8794ba;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    background-color: #172755;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    top: 140px;
    left: -100%;
    height: calc(100% - 140px);
    color: white;
    transition: all 0.5s ease;
    margin-left: 0;
  }
  .nav-menu.active {
    left: 0;
    transition: all 1s ease;
  }
  .nav-item {
    width: 100%;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    font-size: 2rem;
  }
}
